{% extends "components/base.html" %}
{% block title %}Equipamentos{% endblock %}
{% set labels = 'show_labels' %}
{% set box_title = 'Equipamentos' %}
{% block head %}
{{super()}}
<script>
    const labels = [{label: 'Serial', type: 'text'},
        {label: 'WI-FI Ip Adress', type: 'text'},
        {label: 'Modelo', type: 'select', options: ['HAND HELD', 'ZEBRA TC21', 'HONEYWELL CT60', 'HONEYWELL EDA61K']},
        {label: 'Status', type: 'select', options: ['Disponivel', 'Indisponivel']},
        {label: 'Observação', type: 'text'},
        {label: 'Coldre', type: 'select', options: ['Sim', 'Não']},
        {label: 'Alça', type: 'select', options: ['Sim', 'Não']},
        {label: 'Touch', type: 'select', options: ['Sim', 'Não']},
        {label: 'Som', type: 'select', options: ['Sim', 'Não']},
        {label: 'Vibração', type: 'select', options: ['Sim', 'Não']},
        {label: 'Gatilho', type: 'select', options: ['Sim', 'Não']},
        {label: 'Lazer', type: 'select', options: ['Sim', 'Não']}]
</script>
{% endblock %}
{% block content %}
{% include "components/container.html" %}
{% endblock %}
{% block scripts %}
<script>
    const data = [{
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'ZEBRA TC21',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'ZEBRA TC21',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'ZEBRA TC21',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HONEYWELL CT60',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HONEYWELL CT60',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HONEYWELL EDA61K',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HONEYWELL EDA61K',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Indisponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    }, {
        serial: '1234567afg',
        'WI-FI Ip Adress': '192.168.1.1',
        modelo: 'HAND HELT',
        status: 'Disponivel',
        'Observação': 'Nenhuma',
        coldre: 'Sim',
        'Alça': 'Sim',
        touch: 'Não',
        som: 'Não',
        'Vibração': 'Não',
        gatilho: 'Sim',
        lazer: 'Sim'
    },];

    const table = new Table(data, 1, {option: false, trash: true, edit: true, formAction: 'editarEqp', title: ''});
    document.querySelector('.table-button').textContent = 'Cadastrar'
    document.querySelector('.table-button').setAttribute('onclick',
        `popup(${[JSON.stringify(labels).replace(/"/g, "'")]},
        '',
        ['Cadastrar'],
        'Cadastrar Equipamentos',
        'registerEqp', '',true)`)
</script>
{% endblock %}
